@page "/FilmPlayer/{Id:int}"
@inject IMembershipService Service

<div class="d-flex flex-column">
    <a class="btn btn-primary rounded-0 mb-1" href="/Film/@Id">
        <i class="oi oi-arrow-left"></i>
        <span class="vertical-align">Back to film</span>
    </a>
    @if (Film is not null && Film.FilmUrl is not null)
    {
        <div class="video-player">
      <iframe src="@Film.FilmUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


        <h3 class="text-black" style="background-color: #A7A1A1">@Film.Title</h3>
    <p class="text-black" style="background-color: #A7A1A1">@Film.Description</p>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    public FilmDTO Film { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Film = await Service.GetFilmAsync(Id);
    }
}








