@page "/"
@inject IMembershipService Service
<PageTitle>NetMax</PageTitle>


<h2 class="red-text" style="color: red;">NetMax.</h2>


<div class="border border-danger d-flex flex-wrap justify-content-center">
    @foreach (var film in Films)
    {
        <FilmCard Film="@film" />
    }
</div>

@code{
    public List <FilmDTO> Films {get; set;} = new();
    public List<GenreDTO> Genres { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Films = await Service.GetFilmsAsync(false);
    }
}




