@*@page "/filmer"

@using VOD.Common
@using VOD.Common.DTOs

<h3>Films</h3>

@code {
	private List<FilmDTO> films;
	protected override async Task OnInitializedAsync()
	{
		films = await _db.GetFilms
		return base.OnInitializedAsync();
	}
}*@
